@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width: 100%;
  background-color: black;
}

/* img {
  width: 25px;
  border-radius: 50px;
  float: left;
} */

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: rgb(255, 255, 255);
  width: 25px;
  background-color: rgb(134, 6, 128);
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

button:hover {
  width: 100px;
}

button:hover .logout{
  opacity: .9;
}

button {
  text-decoration: none;
}

